nav {
  background-color: #4F5859;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

div {
  text-align: center;
}

h1 {
  background-color: #4F5859;
  font-size: 25px;
  padding: 10px;
  text-align: center;
}

h2 {
  background-color: #1;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

select {
  background-color: #ff8c00;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}

input[type="file"]::file-selector-button {
  background-color: #ff8c00;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}

img {
  width: auto; /* This will maintain the aspect ratio of the image */
  height: 165px;
  img-align: center;
}

content h1 {
  background-color: #a9a9a9;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

home p {
  font-size: 15px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-justify: inter-word;
}

home li {
  font-size: 15px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-justify: inter-word;
}

#chart-wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}


footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-content p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 5px;
}

manual h1 {
  background-color: #1;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

manual h2 {
  background-color: #1;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

manual h3 {
  background-color: #1;
  font-size: 15px;
  text-align: center;
}

manual p {
  font-size: 15px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-justify: inter-word;
}

manual img {
  width: 30%; 
  height: auto;/* This will maintain the aspect ratio of the image */
  img-align: center;
}

table, th, td {
  /* font-size: 12px; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border:1px solid black;
}

csl-entry {
  font-size: 15px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-justify: inter-word;
}


#big_div {
    display: flex;
    align-items: flex-start;
    /* border: 1px solid #000; */
}


/* Map */
.map_container {
    display: flex;
    align-items: flex-start; /* Adjust alignment as needed */
    z-index: 0; /* Lower z-index value for the map container */
}

#map_canvas {
    border: 1px solid #000;
}

.road-info {
    /* display: flex; */
    /* flex-direction: row; /* Display tables side by side */
    margin-left: 20px; /* Add spacing between the canvas and tables */
    /* margin-right: 20px; /* Add spacing between the canvas and tables */
    padding: 0px;
    text-align: center;
}

.road-info table{
    border-collapse: collapse;
    font-size: 15px;
}

#big_div #chart-wrapper {
    border: 1px solid #000;
    margin-right: 0px;
}

/* Legend */

.legend {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.legend-color {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}

.legend-label {
    margin-left: 5px;
}

/* Sidebar styles */
#sidebar {
    width: 0px; /* Adjust the width as needed */
    background-color: #333; /* Sidebar background color */
    height: 100%; /* Full height */
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; /* Add top padding for icons */
    transition: width 0.3s;
    overflow-x: hidden;
    z-index: 3; /* Higher z-index value for the sidebar */
    opacity: 1,
}

/* Sidebar icon styles */
.sidebar-icon {
    margin-bottom: 20px; /* Add spacing between icons */
    text-align: center;
    cursor: pointer;
}

.sidebar-icon img {
    width: 40px; /* Adjust icon width */
    height: 40px; /* Adjust icon height */
}

.sidebar-icon span {
    display: block;
    margin-top: 5px; /* Add spacing between icon and text */
    color: #fff; /* Icon text color */
    font-size: 14px; /* Icon text font size */
}

/* Style for the active mode icon */
.sidebar-icon.active {
    background-color: #555; /* Highlighted background color */
}
