<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='header.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home.css') }}"
    />
    <title>NMIS Hackathon</title>
  </head>
  <body>
    <nav class="header-nav">
      <div class="nav-container">
        <ul class="nav-links">
          <li>
            <a href="home"><i class="fas fa-home"></i></a>
          </li>
          <li>
            <a href="map"><i class="fas fa-map"></i></a>
          </li>
        </ul>
        <div class="nav-logo">
          <img
            src="{{ url_for('static', filename='nmis_logo.png') }}"
            alt="NMIS Logo"
          />
        </div>
      </div>
    </nav>

    <div class="content">
      <content> {% block content %} {% endblock %} </content>
    </div>
  </body>
</html>
