{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block content
%}
<body class="home-body">
  <h1 class="home-title">
    Challenge 2 - Understanding Urban Climate through Digital Twins and IoT
    Devices
  </h1>
  <div class="content-container">
    <div class="home-bullets">
      <ul>
        <li>
          <p><b>IoT Framework - </b>Gather Site Data</p>
        </li>
        <li>
          <p><b>Visualisation - </b>Live visualising of data</p>
        </li>
        <li>
          <p><b>Decision - </b>Clients and customers base design decisions</p>
        </li>
      </ul>
    </div>
    <div class="image-container">
      <img
        src="{{ url_for('static', filename='nmis_hackathon_logo.jpg') }}"
        alt="nmis_hackathon_logo"
        class="home-image"
      />
    </div>
  </div>
  <div class="content-separator"></div>
  <div class="analytics-container">
    <div class="analytics-card">
      <h3>Temperature</h3>
      <p>22°C</p>
      <div class="ticker ticker-green">Normal</div>
    </div>
    <div class="analytics-card">
      <h3>Humidity</h3>
      <p>45%</p>
      <div class="ticker ticker-red">High</div>
    </div>
    <div class="analytics-card">
      <h3>pH Level</h3>
      <p>7.1</p>
      <div class="ticker ticker-green">Balanced</div>
    </div>
    <div class="analytics-card">
      <h3>Air Pollution</h3>
      <p>30 µg/m³</p>
      <div class="ticker ticker-red">Concerning</div>
    </div>
    <div class="content-separator"></div>
	<div class="additional-images-container">
		<img src="{{ url_for('static', filename='box_1.png') }}" alt="Description of Image 1" class="additional-home-image"/>
		<img src="{{ url_for('static', filename='box_2.png') }}" alt="Description of Image 2" class="additional-home-image"/>
	  </div>
  </div>
</body>
{% endblock %}
